#jinja2:trim_blocks: False
# {{ ansible_managed }}

*filter
:INPUT {{ ip6tables_filter_input_policy|upper }} [0:0]
:FORWARD {{ ip6tables_filter_forward_policy|upper }} [0:0]
:OUTPUT {{ ip6tables_filter_output_policy|upper }} [0:0]

COMMIT
#
#*nat
#:PREROUTING {{ ip6tables_nat_prerouting_policy|upper }} [0:0]
#{%- if ansible_distribution|lower != 'centos' %}
#:INPUT {{ ip6tables_nat_input_policy|upper }} [0:0]
#{%- endif %}
#:OUTPUT {{ ip6tables_nat_output_policy|upper }} [0:0]
#:POSTROUTING {{ ip6tables_nat_postrouting_policy|upper }} [0:0]
#
#COMMIT
