# {{ ansible_managed }}
# Using a squid reverse proxy, this should never be reached

# This section is only needed if you want to redirect http traffic to https.
# You can live without it but clients will have to type in https:// to reach gitlist
<VirtualHost *:80>
  ServerName {{ httpd_ServerName }}
  ServerSignature Off

  RewriteEngine on
  RewriteCond %{HTTPS} !=on
  RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [NE,R,L]
</VirtualHost>
